<% 

function getDate() {
  const date = new Date();
  const options = { day: '2-digit', month: 'short', year: 'numeric' };
  const formattedDate = date.toLocaleDateString('en-GB', options);
  return formattedDate;
}

function getLink(currentOrder, currentLabel) {
  let arrow;
  const dir = state == 'false';
  if (order == currentOrder) {
    arrow = dir ? '&#8595;' : '&#8593;';
  } else {
    arrow = '';
  }
  return `<a href="/?order=${currentOrder}&state=${dir}">${currentLabel}</a> ${arrow}`;
}

%>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<h3><a href="https://www.worldometers.info/coronavirus/#countries">CORONAVIRUS COVID19 API</a>: <%= getDate(); %></h3>
<table border="0">
  <thead>
    <th><%- getLink("Country", "Country"); %></th>
    <th><%- getLink("NewConfirmed", "New Confirmed"); %></th>
    <th><%- getLink("TotalConfirmed", "Total Confirmed"); %></th>
    <th><%- getLink("TotalDeaths", "Total Deaths"); %></th>
    <th><%- getLink("NewRecovered", "New Recovered"); %></th>
    <th><%- getLink("TotalRecovered", "Total Recovered"); %></th>
  </thead>
  <tbody>

<% result.forEach(item => { 
  const {
    Country, 
    NewConfirmed, 
    TotalConfirmed,
    TotalDeaths,
    NewRecovered,
    TotalRecovered
  } = item; 
  if (Country) { %>
  <tr>
    <td><a href='/chart?country=<%= Country %>'><%= Country %></a></td>
    <td><%= NewConfirmed %></td>
    <td><%= TotalConfirmed %></td>
    <td><%= TotalDeaths %></td>
    <td><%= NewRecovered %></td>
    <td><%= TotalRecovered %></td>
  </tr>
<% }}); %>

  </tbody>
</table>
</body>
</html>